@use "@/assets/styles/variables" as *;

.current-weather-display {
    text-align: center;
    margin-top: $spacing-32;

    .weather-condition {
        margin-top: $spacing-12;
    }

    .my-location-heading {
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
    }
}
