.weather-display {
    text-align: center;

    .weather-condition {
    
        img {
            width: 100px;
            height: 100px;
        }

        h2 {
            margin: 10px 0;
        }

        p {
            margin: 5px 0;
        }
    }
}
