@use "@/assets/styles/variables" as *;

.weather-form {
    margin: $spacing-12;
    text-align: center;

    input {
        padding: $spacing-8;
        width: 60%;
    }
    
    button {
        padding: $spacing-8;
        margin-left: $spacing-12;
    }
}
